APP_TITLE=Message sender API
PROJECT_HOST=0.0.0.0
PROJECT_PORT=8000

SMTP_SERVERS_FILE=smtp_servers.json
SENDING_INTERVAL_SEC=10
UPLOAD_FOLDER=uploads

REDIS_HOST=redis-message-sender
REDIS_PORT=6379
REDIS_TTL_SEC=172800
